/* crousel */
#title {}

.carousel1 {
  height: 500px;
  width: 50%;
}

/* body */
body {}

/* default paragraph */
p {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: bolder;
  line-height: 2;
}

/* default h5 */
h5 {
  margin-left: 10px;
  font-family: 'Cinzel', serif;
  font-size: 4vw;
  padding-top: 3.5rem;
  font-weight: bold;
  color: #000;
}

/* default h3 */
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

a {
  color: white;
}

/* default contanier */
/* features */
#features {
  padding: 7% 15%;
}

/* navbar */
.navbar {}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
/* features */
.feature-box {
  text-align: center;
  padding: 10% 5%;
}

.icon {
  color: #ffa400;
  margin-bottom: 1.25rem;
}

.icon:hover {
  color: #ff5959;
}

.back-img {
  background: url(https://i.ibb.co/NYthYch/feat-back-img.jpg);
  background-repeat: no-repeat;
}

.feat-head1 {
  color: #ff0000;
}

.feat-head1:hover {
  color: #738598;
}

.feat-head2 {
  color: #ff0000;
}

.feat-head2:hover {
  color: #738598;
}

.feat-head3 {
  color: #ff0000;
}

.feat-head3:hover {
  color: #738598;
}
.tag-line2 {
  color: #fff;
}

.tag-line3 {
  color: #fff;
}

.feat-body1 {
  color: #000;
}

.feat-body1:hover {
  color: #738598;
}

.feat-body2 {
  color: #000;
}

.feat-body2:hover {
  color: #738598;
}

.feat-body3 {
  color: #000;
}

.feat-body3:hover {
  color: #738598;
}
/* corosel-buttons */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* coloum */
.col-lg-12 {
  padding: 0;
}



#packages {
  background-image: url(https://i.ibb.co/vDy97sY/pexels-photo-860379.jpg);
}

.price-card {
  padding-top: 0;
  padding-bottom: 5%;
  background-color: #233142;
  margin-bottom: 1rem;
}

.price-card:hover {
  background-color: #141414;
}

.card-header {
  background-color: #2f89fc;
}

/* contact us */
#contact-us {
  padding-top: 2%;
  background-color: #010101;
  text-align: center;
}

.add {
  font-size: 0.65rem;
}

.address {
  margin: 0;
  padding: 0;
}

.contact {
  padding: 0;
  margin: 0;
}

#packages {
  padding-bottom: 20%;
}

#footer {
  background-color: black;
}
